<div class="form-floating mb-1">
    <input autocomplete="off" id="{{meta.id}}_0" type="text" name="value[{{meta.id}}]" value="{{value}}" class="form-control" placeholder="{{ meta.label }}"/>
    <label for="{{meta.id}}_0">{{ meta.label }}</label>
</div>