<label for="{{meta.id}}_0" class="mt-3">{{ meta.label }} from</label>
<input autocomplete="off" id="{{meta.id}}_0" type="date" name="value[{{meta.id}}][0]" value="{{value[0]}}" class="form-control">
<label for="{{meta.id}}_1">to</label>
<input autocomplete="off" id="{{meta.id}}_1" type="date" name="value[{{meta.id}}][1]" value="{{value[1]}}" class="form-control">